<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.master.design.rashnanthi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".Controller.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        tools:replace="android:supportsRtl"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
<!--        <activity-->
<!--            android:name=".Activity.SpinneerActivity"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".Activity.SpinneerActivity"
            android:screenOrientation="portrait"
            android:supportsRtl="false"
            tools:replace="android:supportsRtl"
            android:theme="@style/mytransparent1.windowNoTitle"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Activity.Thank_you"
            android:supportsRtl="false"
            tools:replace="android:supportsRtl"
            android:exported="false" />
        <activity android:name=".Activity.ImagePickerActivity"
            android:supportsRtl="false"
            tools:replace="android:supportsRtl"/>
        <activity android:name=".Activity.LoginActivity"
            android:supportsRtl="false"
            tools:replace="android:supportsRtl"/> <!-- <activity -->
        <!-- android:name="com.yalantis.ucrop.UCropActivity" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/Theme.Design.NoActionBar" /> &lt;!&ndash; <provider &ndash;&gt; -->
        <!-- android:name="androidx.core.content.FileProvider" -->
        <!-- android:authorities="${applicationId}.com.vansuita.pickimage.provider" -->
        <!-- android:exported="false" -->
        <!-- android:grantUriPermissions="true" -->
        <!-- tools:replace="android:authorities"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.FILE_PROVIDER_PATHS" -->
        <!-- android:resource="@xml/picker_provider_paths" /> -->
        <!-- </provider> -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".Activity.MainActivity"
            android:supportsRtl="false"
            android:exported="true"
            tools:replace="android:supportsRtl"/>
        <activity android:name=".Activity.SplashScreen"
            android:supportsRtl="false"
            tools:replace="android:supportsRtl"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.AdvertiseSelector"
            android:supportsRtl="false"
            tools:replace="android:supportsRtl"/>
        <activity android:name=".Activity.AddressSelector"
            android:supportsRtl="false"
            tools:replace="android:supportsRtl"/>
        <activity android:name=".Activity.SignUpActivity"
            android:supportsRtl="false" tools:replace="android:supportsRtl"/>
        <activity android:name=".Activity.SignUpActivity2"
            android:supportsRtl="false" tools:replace="android:supportsRtl"/>
        <activity android:name=".Activity.VerifyActivity"
            android:supportsRtl="false" tools:replace="android:supportsRtl"/>
        <activity android:name=".Activity.Add_new_post_1"
            android:supportsRtl="false" tools:replace="android:supportsRtl"/>
        <activity android:name=".Activity.CameraHandling"
            android:supportsRtl="false" tools:replace="android:supportsRtl"/>
        <activity android:name=".Activity.Add_Event_Pay_Now"
            android:supportsRtl="false" tools:replace="android:supportsRtl"/>
        <activity android:name=".Activity.Add_Event_Bill"
            android:supportsRtl="false" tools:replace="android:supportsRtl"/>
        <activity android:name=".Activity.Activity_Add_Event_1"
            android:supportsRtl="false" tools:replace="android:supportsRtl"/>
        <activity android:name=".Activity.Story_activity"
            android:supportsRtl="false" tools:replace="android:supportsRtl"/>
        <activity android:name=".Activity.ImageActicity"
            android:supportsRtl="false" tools:replace="android:supportsRtl"/>
        <activity android:name=".Activity.Forgot_Password_Activity"
            android:supportsRtl="false" tools:replace="android:supportsRtl"/>
        <activity android:name=".Activity.PayNowActivity"
            android:supportsRtl="false" tools:replace="android:supportsRtl"></activity>
        <activity android:name=".Activity.Country_Spinner_Activity"
            android:supportsRtl="false" tools:replace="android:supportsRtl"></activity>
      </application>

</manifest>